.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  max-width: 400px;
  cursor: pointer;
  margin: 10px;
}

.cards {
  max-width: 1200px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
